@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');



* {
    border: 0px solid red;
}

body {
    margin: 0;
    padding: 0;
    background: #ecf0f5;
}

//// Этапы /////


.page {
    padding-top: 140px;
    height: 100vh;

    .container-fluid {
        height: 100%;

        .pages {
            width: 100%;
            height: 90%;

            .tablink {
                background-color: #505b68;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                width: 14.2%;
                height: 45px;
            }

            .one {
                border-radius: 8px 0 0 0;
            }

            .seven {
                border-radius: 0 8px 0 0;
            }

            .one, .two, .three,
            .four, .five, .six,
            .seven {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-family: 'Dosis', sans-serif;
                font-size: 16px;
                letter-spacing: 1.5px;
                font-weight: 600;
                color: #fff;

                svg {
                    color: #fff;
                    font-size: 28px;
                    margin-right: 8px;
                }
            }
    
            .tablink:hover {
                background-color: #777;
            }
    
            .tabcontent {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                display: none;
                padding: 150px 0;
                height: 100%;
                width: 99.4%;
                border-radius: 8px 8px 3px 3px;

                div {
                    width: 100%;

                    h1 {
                        display: flex;
                        align-items: center;
                        margin: 0 80px 25px;
                        width: 80%;
                        font-size: 50px;
                        color:  rgba(107, 104, 104, 0.699);
        
                        span {
                            margin-left: 25px;
                            font-family: 'Dosis', sans-serif;
                            font-size: 40px;
                            color:  rgba(74, 75, 77, 0.799);
                        }
                    }
        
                    b {
                        margin: 0 80px 0;
                        width: 80%;
                        text-align: justify;
                        font-size: 25px;
                        color: rgba(105, 106, 115, 1);
                    }
        
                    p {
                        width: 80%;
                        margin: 25px 80px 0;
                        font-family: 'Dosis', sans-serif;
                        line-height: 50px;
                        text-align: justify;
                        font-size: 30px;
                        letter-spacing: 1.5px;
                        color: rgba(105, 106, 108, 0.699);
                    }
                }
            }
    
            #one, #two, #three, #four, #five, #six, #seven {
                background-color: #fff;
            }
        }
          
    }
}

