@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');



* {
    border: 0px solid red;
}

body {
    margin: 0;
    padding: 0;
    background: #ecf0f5;
}

//// План График /////


.page-plan {
    padding-top: 140px;
    height: 100%;

    .container-fluid {
        height: 100%;

        .pages-plan {
            width: 100%;
            height: 100%;

            .tablink {
                background-color: #505b68;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 17px;
                width: 40%;
                height: 45px;
            }

            .one {
                border-radius: 8px 0 0 0;
            }

            .one, .two {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Dosis', sans-serif;
                font-size: 16px;
                letter-spacing: 1.5px;
                font-weight: 600;
                color: #fff;

                svg {
                    color: #fff;
                    font-size: 28px;
                    margin-right: 15px;
                }
            }
    
            .tablink:hover {
                background-color: #777;
            }
    
            .tabcontent {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
                display: none;
                padding: 100px 0;
                height: 100%;
                width: 99.4%;
                border-radius: 8px 8px 3px 3px;

                .one-inner,
                .two-inner {
                    width: 91%;
                    margin: 0 5%;


                    .accordion {
                        background-color: #505b68;
                        font-family: 'Dosis', sans-serif;
                        letter-spacing: 1.5px;
                        line-height: 10px;
                        font-weight: 500;
                        color: #fff;
                        cursor: pointer;
                        margin-top: 20px;
                        padding: 18px;
                        width: 100%;
                        border-radius: 8px;
                        border: none;
                        text-align: left;
                        outline: none;
                        font-size: 16px;
                        transition: 0.4s;
                    }
                      
                    .active, .accordion:hover {
                        background-color: rgb(216, 150, 7);
                    }
                      
                    .accordion:after {
                        content: '\002B';
                        color: #fff;
                        font-size: 18px;
                        font-weight: bold;
                        float: right;
                        margin-left: 5px;
                    }
                      
                    .active:after {
                        content: "\2212";
                    }
                      
                    .panel {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        padding: 10px 0 0 25px;
                        background-color: #fff;
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;

                        
                        p.MsoNormal, li.MsoNormal, div.MsoNormal {
                            margin-top:0cm;
                            margin-right:0cm;
                            margin-bottom:8.0pt;
                            margin-left:0cm;
                            line-height:107%;
                            font-size:11.0pt;
                            font-family:"Calibri",sans-serif;
                        }

                        .MsoChpDefault {
                            font-family:"Calibri",sans-serif;
                            line-height:107%;
                        }

                        @page WordSection1 {
                            size:595.3pt 841.9pt;
                            margin:2.0cm 42.5pt 2.0cm 3.0cm;
                        }

                        
                        .font531368
                            {color: windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            }
                        .font631368
                            {color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            }
                        .xl6331368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:center;
                            vertical-align:middle;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;}
                        .xl6431368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                        }
                        .xl6531368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:#F2F2F2;;
                            white-space:normal;}
                        .xl6631368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;;
                            text-align:general;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;}
                        .xl6731368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            white-space:normal;
                        }
                        .xl6831368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:right;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:#F2F2F2;;
                            white-space:normal;
                        }
                        .xl6931368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;
                        }
                        .xl7031368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:general;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;
                        }
                        .xl7131368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:center;
                            vertical-align:middle;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;
                        }
                        .xl7231368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:center;
                            vertical-align:middle;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl7331368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            white-space:normal;
                        }
                        .xl7431368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl7531368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:general;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;
                        }
                        .xl7631368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:right;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl7731368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:#F2F2F2;
                            white-space:normal;
                        }
                        .xl7831368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:black;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:center;
                            vertical-align:middle;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl7931368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:center;
                            vertical-align:middle;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;
                        }
                        .xl8031368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:#F2F2F2;
                            white-space:normal;
                        }
                        .xl8131368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;
                        }
                        .xl8231368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl8331368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:10.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl8431368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:10.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl8531368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:10.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:right;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl8631368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:10.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:general;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            white-space:normal;
                        }
                        .xl8731368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:10.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:left;
                            vertical-align:top;
                            white-space:normal;
                        }
                        .xl8831368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:general;
                            vertical-align:top;
                            border:.5pt solid windowtext;
                            background:white;
                            white-space:normal;
                        }
                        .xl8931368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:400;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:right;
                            vertical-align:top;
                            white-space:normal;
                        }
                        .xl9031368
                            {padding-top:1px;
                            padding-right:1px;
                            padding-left:1px;
                            color:windowtext;
                            font-size:8.0pt;
                            font-weight:700;
                            font-style:normal;
                            text-decoration:none;
                            font-family:Calibri, sans-serif;
                            text-align:right;
                            vertical-align:top;
                            white-space:normal;
                        }
                    }
                }
            }
    
            #one, #two {
                background-color: #fff;
            }
        }
          
    }
}